@font-face {
  font-family: 'latoblack';
  src: url('../fonts/lato-black-webfont.eot');
  src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-black-webfont.woff2') format('woff2'),
  url('../fonts/lato-black-webfont.woff') format('woff'),
  url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url('../fonts/lato-bold-webfont.eot');
  src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-bold-webfont.woff2') format('woff2'),
  url('../fonts/lato-bold-webfont.woff') format('woff'),
  url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoitalic';
  src: url('../fonts/lato-italic-webfont.eot');
  src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-italic-webfont.woff2') format('woff2'),
  url('../fonts/lato-italic-webfont.woff') format('woff'),
  url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latomedium';
  src: url('../fonts/lato-medium-webfont.eot');
  src: url('../fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-medium-webfont.woff2') format('woff2'),
  url('../fonts/lato-medium-webfont.woff') format('woff'),
  url('../fonts/lato-medium-webfont.svg#latomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latomedium_italic';
  src: url('../fonts/lato-mediumitalic-webfont.eot');
  src: url('../fonts/lato-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-mediumitalic-webfont.woff2') format('woff2'),
  url('../fonts/lato-mediumitalic-webfont.woff') format('woff'),
  url('../fonts/lato-mediumitalic-webfont.svg#latomedium_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-regular-webfont.woff2') format('woff2'),
  url('../fonts/lato-regular-webfont.woff') format('woff'),
  url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latosemibold';
  src: url('../fonts/lato-semibold-webfont.eot');
  src: url('../fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-semibold-webfont.woff2') format('woff2'),
  url('../fonts/lato-semibold-webfont.woff') format('woff'),
  url('../fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?19388210');
  src: url('../fonts/fontello.eot?19388210#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?19388210') format('woff2'),
  url('../fonts/fontello.woff?19388210') format('woff'),
  url('../fonts/fontello.ttf?19388210') format('truetype'),
  url('../fonts/fontello.svg?19388210#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

//sass/
////
//– base/
//   |– _forms.scss        # Forms rules
//   |– _typography.scss   # Typography rules
//   |– _buttons.scss      # Buttons
//   |– _forms.scss        # Forms
//   …                     # Etc.
//
//– modules/
//   |– _carousel.scss     # Carousel
//   |– _cover.scss        # Cover
//   |– _dropdown.scss     # Dropdown
//   …                     # Etc.
//
//– partials/
//   |– _navigation.scss   # Navigation
//   |– _grid.scss         # Grid system
//   |– _header.scss       # Header
//   |– _footer.scss       # Footer
//   |– _sidebar.scss      # Sidebar
//   …                     # Etc.
//
//– pages/
//   |– _home.scss         # Home specific styles
//   |– _contact.scss      # Contact specific styles
//   …                     # Etc.
//
//– themes/
//   |– _theme.scss        # Default theme
//   |– _admin.scss        # Admin theme
//   …                     # Etc.
//
//– helpers/
//   |– _variables.scss    # Sass Variables
//   |– _functions.scss    # Sass Functions
//   |– _mixins.scss       # Sass Mixins
//   |– _placeholders.scss # Sass Placeholders
//
//– vendors/
//   |– _reset.scss         # Reset
//   |– _debug.scss         # Debug mode
//   …                      # Etc.
//
//– main.scss              # Main Sass file
//


//*
// Which objects and abstractions would you like to use?
//base
$use-btn-color:                true!default;
$use-btn-size:                 true!default;
$use-btn-group:                false!default;
$use-input-group:              false!default;
$use-table:                    false!default;
$use-color-table:              false!default;
$use-column-table:             false!default;
$use-color-text:               true!default;

//modules
$use-accordion:                false!default;
$use-alerts:                   false!default;
$use-breadcrumb:               false!default;
$use-pagination:               false!default;
$use-pager:                    false!default;
$use-space:                    true!default;
$use-split:                    false!default;
$use-rules:                    false!default;
$use-this-or-this:             false!default;
$use-media:                    true!default;
// grids
$use-adaptive:                 false!default;
$use-flexbox:                  false!default;
// plugins
$use-animations:               false!default;
$debug-mode:                   false!default;



// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";

// Base
@import "base/*.scss";

// Partials
@import "partials/*.scss";

// Modules
@import "modules/*.scss";

// Pages
@import "pages/*.scss";

