//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  padding: 40px 0;
  background: $color-type-1a;
  color: #e5eaf6;
  &-inner {
    display: table;
    width: 100%;
    > div {
      display: table-cell;
      vertical-align: middle;
      //width: 1%;
    }
  }
  &__adr {

  }
  &__contacts {
    .dotted {
      color: $base-color-main;
      border-bottom: 3px dotted $base-color-main;
      &:hover {
        border-color: transparent;
      }
    }
    ul { margin: 0;}
    a {
      color: #fff;
    }
  }
  &__copy {

  }
}