//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  background-color: #fff;
  &-inner {
    display: table;
    width: 100%;
    > div {
      display: table-cell;
      vertical-align: middle;
      //width: 1%;
    }
  }
  &__logo {
    span {
      display: block;
    }
    p {
      font-size: 34px;
      margin: 0;
    }
  }
  &__contacts {
    width: 30%;
    .dotted {
      color: $base-color-main;
      border-bottom: 3px dotted $base-color-main;
      &:hover {
        border-color: transparent;
      }
    }
  }
  &__top {
    color: #fff;
    background-color: $color-type-1a;
    padding: 18px 0;
    b {
      font-size: $font-size-large;
    }
    a {
      color: #fff;
    }
  }
  &__bottom {
    padding: 11px 0;
    b {
      font-size: 20px;
      color: $base-color-main;
    }
    i {
      color: $base-color-main;
    }
    .link {
      display: inline-block;
      padding: 7px 0;
    }
  }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }