//
// Partials -> Main
// ------------------------------------

header, main, footer {
  min-width: 1240px;
}
//
// Main container
//
.page-main {
}


//tempaltes
.text-template {
  padding: 20px 0;
}
//tempaltes

.slide {
  position: relative;
  height: 512px;
  > div {
    position: relative;
    z-index: 1;
  }
  &::after,
  &::before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  &::after {
    background: url("../images/slide-img-1.png") no-repeat center center, #ebebeb;
    left: 0;
  }
  &::before {
    background: url("../images/slide-img-2.png") no-repeat center center, #ebebeb;
    left: 50%;
  }
  h1 {
    font-weight: 400;
  }
}

.order {
  padding: 70px 0 60px;
  form {
    background-color: #f9fbfc;
    padding: 20px 30px 60px;
  }
  h2 {
    font-weight: 600;
    line-height: 1;
    margin-top: 0;
  }
}

.advantages {
  background-color: #f9fbfc;
  padding: 86px 0;
  .cell {
    margin-top: 40px;
  }
  h5 {
    margin: 0;
  }
  li {
    vertical-align: middle;
  }
}

.feedback {
  padding: 100px 0 85px;
  background: url("../images/feedback-img.png") center left no-repeat, #fff;
  h3 { margin-top: 0;font-weight: 400;}
}

.txt {
  padding: 100px 0 85px;
  background-color: #f9fbfc;
  h3 { margin-top: 0;}
  i {
    font-weight: 500;
    font-family: 'latomedium_italic';
  }
}
.calc {
  padding: 80px 0 85px;
  h3 { margin-top: 0;margin-bottom: 40px;}
  .inner {
    background-color: #f9fbfc;
    padding: 40px;
    margin-top: 35px;
  }
  b {
    display: block;
  }
  li {
    vertical-align: middle;
  }
}
.rub {
  font-family: Arial, sans-serif;
  font-weight: 600;
}


.review {
  padding: 40px 0 54px;
  background-color: #f9fbfc;
  .slick-slide {
    background-color: #fff;
    margin: 15px;
    padding: 35px;
    height: 510px;
  }
  .inner {
    height: 320px;
    overflow: hidden;
  }
}

.question {
  padding: 49px 0 70px;
  .btn {
    line-height: 50px;
    padding: 9px 20px;
  }
  h3 {
    margin-bottom: 35px;
  }
  img {
    vertical-align: middle;
    margin-right: 12px;
  }
}

iframe {
  vertical-align: middle;
}
//#map {
//  height: 588px;
//  .gm-style {
//    font-weight: 500;
//  }
//}