footer.page-footer
	.container
		.page-footer-inner
			.page-footer__adr
				b Санкт-Петребург, #[br] ул. Савушкина, д. 27-8
			.page-footer__contacts
				ul.list--inline
					li: b: a(href="tel:9311216") 931-12-16
					li.text--right: b: a(href="tel:4305022") 430-50-22
				a.dotted(href="#") Заказать звонок
			.page-footer__copy
				span Создание сайта #[br] и продвижение: #[br]
				a.text--primary(href="#") AlkoDesign