header.page-header
    .page-header__top
        .container
            .page-header-inner
                .page-header__logo
                    a(href="/")
                        b СОЮЗ КРЕДИТ
                        span автоломбард
                        p.text--danger 20 лет на рынке
                .page-header__adr
                    b Санкт-Петребург, #[br] ул. Савушкина, д. 27-8
                .page-header__contacts
                    ul.list--table
                        li: b: a(href="tel:9311216") 931-12-16
                        li.text--right: b: a(href="tel:4305022") 430-50-22
                    a.dotted(href="#") Заказать звонок
    .page-header__bottom
        .container
            .row
                .cell.cell__xs-8
                    include ../components/_navbar
                .cell.cell__xs-4.text--right
                    a.link(href="#")
                        i.icon-calc
                        b.text--uppercase  Рассчитать стоимость