main.page-main
    section.slide
        .container
            .row
                .cell.cell__xs-7
                    h2.text--danger Автозалог
                    h1 Ваша машина остается у вас
                    h5 Переоформление не требуется #[br] Вы остаетесь собственником
                .cell.cell__xs-5
                    h2.text--danger Автоломбард
                    h1 Ваша машина на стоянке ломбарда
                    h5 Уточняйте условия у менеджеров
    section.order
        .container
            .row
                .cell.cell__xs-8
                    h2.text--danger Выплачиваем 90% от&nbsp;стоимости автомобиля процентная ставка 1% в месяц
                    h5 Выдаем займы всем независимо #[br] от&nbsp;регистрации (прописки)
                    h5 ул.Савушкина, д.27-8, #[br] тел. 931-12-16
                .cell.cell__xs-4
                    form.text--center
                        h4 Подать заявку
                        .form__group
                            input.form-control(type="text", placeholder="Имя")
                        .form__group
                            input.form-control(type="text", placeholder="Телефон")
                        .form__group
                            button.btn.btn--full.btn--primary(type="submit")
                                i.icon-paper-plane
                                |  Отправить
    section.advantages
        .container
            h3 Наши преимущества
            .row
                .cell.cell__xs-4
                    ul.list--table
                        li: img(src="images/advantage-ico-1.png", alt="")
                        li: h5 Деньги сразу
                    p С момента Вашего обращения к нам до момента получения денег всего 30 минут. Гарантируем получение денег с любой кредитной историей!
                .cell.cell__xs-4
                    ul.list--table
                        li: img(src="images/advantage-ico-2.png", alt="")
                        li: h5 Два документа
                    p Для получения денег необходимо всего 2 документа: ПТС, личный паспорт. В каком городе Вы зарегистрированы значения не имеет.
                .cell.cell__xs-4
                    ul.list--table
                        li: img(src="images/advantage-ico-3.png", alt="")
                        li: h5 Самые низкие %
                    p Мы выдаем деньги под самый низкий процент в городе — 1% в месяц
            .row
                .cell.cell__xs-4
                    ul.list--table
                        li: img(src="images/advantage-ico-4.png", alt="")
                        li: h5 Без лишних вопросов
                    p Нам не нужны никакие справки. Мы не интересуемся Вашим заработком и целью, на которую Вы берете деньги.
                .cell.cell__xs-4
                    ul.list--table
                        li: img(src="images/advantage-ico-5.png", alt="")
                        li: h5 До 90% от стоимости
                    p Вы можете получить у нас займ в размере от 90% от рыночной стоимости автомобиля.
                .cell.cell__xs-4
                    ul.list--table
                        li: img(src="images/advantage-ico-6.png", alt="")
                        li: h5 Понятные условия
                    p У нас нет скрытых процентов и комиссий.
    section.feedback
        .container
            .row
                .cell.cell__xs-3
                .cell.cell__xs-5
                    h3 Подать заявку
                    h5.text--danger Менеджер свяжется с вами #[br] в течение 5 минут!
                .cell.cell__xs-4
                    form.text--center
                        .form__group
                            input.form-control(type="text", placeholder="Имя")
                        .form__group
                            input.form-control(type="text", placeholder="Телефон")
                        .form__group
                            button.btn.btn--full.btn--primary(type="submit")
                                i.icon-paper-plane
                                |  Отправить
    section.txt
        .container
            .row
                .cell.cell__xs-5
                    h3 Гарантии
                    h5: i — Автоломбард «Союз Кредит» гарантирует индивидуальный подход к каждому клиенту
                .cell.cell__xs-7
                    p Автоломбард «Союз Кредит» гарантирует индивидуальный подход к каждому клиенту, так как наша цель – создать комфортные условия всем обратившимся за помощью. Мы рады дать «зеленый свет» вашему бизнесу и оперативно решить все организационные вопросы. Задача клиента ломбарда автомобилей – только обратиться к нам за получением нужной суммы. А наша задача – сделать всё остальное.
    section.calc
        .container
            h3 Сколько денег получу? Рассчитать
            .row
                .cell.cell__xs-3
                    p Введите стоимость автомобиля
                .cell.cell__xs-5
                    input.form-control#start(type="text", placeholder="680 000 ₽")
                    #rangeSlider
                .cell.cell__xs-4
                    button.btn.btn--full.btn--primary(type="submit")
                        i.icon-calc
                        |  Рассчитать
            .cell__xs-9.center-block.inner
                .row
                    .cell.cell__xs-6
                        ul.list--table
                            li: img(src="images/calc-ico-1.png", alt="")
                            li Вы можете получить #[b до 720 000 #[span.rub ₽]]
                    .cell.cell__xs-6
                        ul.list--table
                            li: img(src="images/calc-ico-2.png", alt="")
                            li Ваш платеж составит #[b 7 200 #[span.rub ₽] в месяц]
    section.review
        .container
            h3 Отзывы о нас
            .carousel
                div
                    .inner
                        p: i Автоломбард «Союз Кредит» гарантирует индивидуальный подход к каждому клиенту, так как наша цель – создать комфортные условия всем обратившимся за помощью. Мы рады дать «зеленый
                    .media
                        .media__img: img(src="images/imgAva-1.png" alt="")
                        .media__body
                            p.text--info Мария Филиппова
                            p.text__sm 20.11.2016
                div
                    .inner
                        p: i Автоломбард «Союз Кредит» гарантирует индивидуальный подход к каждому клиенту, так как наша цель – создать комфортные условия всем обратившимся за помощью.
                    .media
                        .media__img: img(src="images/imgAva-2.png" alt="")
                        .media__body
                            p.text--info Алексей Видов
                            p.text__sm 20.11.2016
                div
                    .inner
                        p: i Автоломбард «Союз Кредит» гарантирует индивидуальный подход к каждому клиенту, так как наша цель – создать комфортные условия всем обратившимся за помощью. Мы рады дать «зеленый
                    .media
                        .media__img: img(src="images/imgAva-3.png" alt="")
                        .media__body
                            p.text--info Алексей Видов
                            p.text__sm 20.11.2016
                div
                    .inner
                        p: i Автоломбард «Союз Кредит» гарантирует индивидуальный подход к каждому клиенту, так как наша цель – создать комфортные условия всем обратившимся за помощью.
                    .media
                        .media__img: img(src="images/imgAva-2.png" alt="")
                        .media__body
                            p.text--info Алексей Видов
                            p.text__sm 20.11.2016
    section.question
        .container.text--center
            h3 Остались вопросы?
            ul.list--inline
                li: a.btn.btn--primary(href="#")
                        i.icon-phone
                        |  заказать обратный звонок
                li: a.btn.btn--primary(href="#")
                        img(src="images/question-ico.png", alt="")
                        |  задать  ваш вопрос
    section.map
        //#map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1995.8055028263573!2d30.280476316187034!3d59.98513566530879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963402a4990e1f%3A0xfb38c1ac9b17529d!2z0YPQuy4g0KHQsNCy0YPRiNC60LjQvdCwLCAyNywg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5NzE4Mw!5e0!3m2!1sru!2sru!4v1482837063999", height="588", frameborder="0", style="border:0;width:100%;pointer-events:none", allowfullscreen)